p1_venv/
p1_env/
locallibrary/catalog/__pycache__
locallibrary/catalog/tests/__pycache__
locallibrary/.vscode
locallibrary/locallibrary/__pycache__
locallibrary/catalog/migrations/__pycache__
locallibrary/.env
